{% extends "reviews/base.html" %}
{% block search_bar %}
    <form class="form-inline my-2 my-lg-0" action="{% url 'reviews-home' %}">
        <input class="search-bar form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
               name="search">
        <button class="btn dark-blue-btn my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock search_bar %}
{% block filter_bar %}
    <button type="button" class="filter__button">Filters</button>
    <div class="filter__content selector-filter">
        <form method="GET" action=".">
            <div class="form-row">
                <div class="form-group col-md-2 col-lg-2">
                    <label for="minRating">Minimum Rating</label>
                    <input type="number" min=0 max=10 class="form-control" id="minRating" placeholder="0"
                           name="min_rating">
                </div>
                <div class="form-group col-md-2 col-lg-2">
                    <label for="maxRating">Maximum Rating</label>
                    <input type="number" min=0 max=10 class="form-control" id="maxRating" placeholder="10"
                           name=max_rating">
                </div>
                <div class="form-group col-md-2 col-lg-2">
                    <label for="publishDateMin">Publish year minimum</label>
                    <input type="number" min=0 class="form-control" id="publishDateMin" name="min_year" placeholder="0">
                </div>
                <div class="form-group col-md-2 col-lg-2">
                    <label for="publishDateMax">Publish year maximum</label>
                    <input type="number" min=0 class="form-control" id="publishDateMax" name="max_year"
                           placeholder="2023">
                </div>
                <div class="form-group col-md-4">
                    <label for="publisher">Publisher</label>
                    <select id="publisher" class="form-control" name="publisher">
                        <option selected>Choose...</option>
                        {% for publisher in publishers %}
                            <option value="{{ publisher.name }}">{{ publisher.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <select id="sort" class="form-control" name="sort">
                        <option selected>Sort by...</option>
                        {% for option in options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <select id="order" class="form-control" name="order">
                        <option selected>Order...</option>
                        {% for order in order_types %}
                            <option value="{{ order }}">{{ order }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button class="btn dark-blue-btn my-2 my-sm-0" type="submit">Filter</button>
            <button id="removeFilters" class="btn dark-blue-btn my-2 my-sm-0">Remove Filters</button>

            <script type="text/javascript">
                document.getElementById("removeFilters").onclick = function () {
                    var currentUrl = "{% url 'reviews-home' %}";
                    var newUrl = currentUrl.split("?")[0];
                    location.href = newUrl;
                };
            </script>
        </form>
    </div>
{% endblock filter_bar %}
{% block content %}
    {% for book in books %}
        <h1>{{ book.title }}</h1>
        <p>Written by {{ book.author }}.</p>
        {% if book.publisher %}
            <p>Published by {{ book.publisher.name }} in {{ book.year }}.</p>
        {% endif %}
        {% if book.average_rating %}
            <p>Rating: <span class="rating">{{ book.average_rating }}</span> from {{ book.count_rating }} votes.</p>
        {% endif %}
        {% if book.image_url %}
            <img width="200" src={{ book.image_url }}>
        {% endif %}
        <br><br>
    {% endfor %}

    <script>
        var ratings = document.getElementsByClassName("rating");
        for (var i = 0; i < ratings.length; i++) {
            ratings[i].innerHTML = (Math.round(ratings[i].innerHTML * 100) / 100).toFixed(2)
        }
    </script>
{% endblock content %}


